// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// Import the non-default scaffolding module.
@import "blueprint/scaffolding";

// To generate css equivalent to the blueprint css but with your
// configuration applied, uncomment:
// @include blueprint

// Blueprint debugging classes
@import "blueprint/debug";

// Compass bullet styles
@import "compass/typography/lists/bullets";

// If you are doing a lot of stylesheet concatenation, it is suggested
// that you scope your blueprint styles, so that you can better control
// what pages use blueprint when stylesheets are concatenated together.
body.bp {
  @include blueprint-typography(true);
  @include blueprint-utilities;
  @include blueprint-debug;
  @include blueprint-interaction;
  // Remove the scaffolding when you're ready to start doing visual design.
  // Or leave it in if you're happy with how blueprint looks out-of-the-box
  
  // Grid background for debugging
  @if $site-debug == true { @include showgrid(); }
  background: $background-color repeat;
  color: $text-color;
}

form.bp {
  @include blueprint-form;
  // You'll probably want to remove the scaffolding once you start styling your site.
  @include blueprint-scaffolding;
}

// Page layout can be done using mixins applied to your semantic classes and IDs:
body.two-col {
  #container {
    @include container;
    float: left;
  }
  #header, #footer {
    @include column($blueprint-grid-columns);
  }
  #sidebar {
    $sidebar-columns: $screen-navbar-width-columns;
    @include column($sidebar-columns);
    float: left;
  }
  #content {
    $content-columns: $screen-content-width-columns;
    // true means it's the last column in the row
    @include column($content-columns, true);
  }
}

#header {
  // site banner styles
  img {
  
  }
  h1 { color: $header-color; }
  h2 { color: $text-color; }
}

nav#sidebar {
  &>header {
    @include prepend(1);
    &>h1 { font-size: 2em; }
    &>h2 { font-size: 0.75em; }
  }
  &>ul {
    @include no-bullets;
    >li {
      font-size: 1.25em;
    }
    ul { margin-bottom: 0; }
  }
  border-top: 1px black solid;
  border-right: 1px black solid;
  border-bottom: 1px black solid;
}

// Styles for stackexchange flair
$SE-flair-width: 209px;
#footer p {
  display: block;
  width: $SE-flair-width;
}